In [14]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [15]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)
df.to_excel('C:/Users/Tcs/220901111/dataset.xlsx')

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [33]:
df1=pd.DataFrame([[12,23,65],[23,43,57],[12,34,56]],index=['four','five','six'],columns=['a','b','c'])
df1.to_excel('C:/Users/Tcs/220901111/dataset1.xlsx')
print(df1)

       a   b   c
four  12  23  65
five  23  43  57
six   12  34  56

In [34]:
x=pd.read_excel('C:/Users/Tcs/220901111/dataset.xlsx')
y=pd.read_excel('C:/Users/Tcs/220901111/dataset1.xlsx')
z=pd.concat([x,y],axis='rows')
print(z)

  Unnamed: 0   a   b   c
0        one   1   2   3
1        two   4   5   6
2      three   7   8   9
0       four  12  23  65
1       five  23  43  57
2        six  12  34  56

In [31]:
z.to_excel('C:/Users/Tcs/220901111/mergeddata.xlsx')

In [35]:
df3=z.sort_values(['c'])
print(df3)

  Unnamed: 0   a   b   c
0        one   1   2   3
1        two   4   5   6
2      three   7   8   9
2        six  12  34  56
1       five  23  43  57
0       four  12  23  65