In [17]:
import pandas as p
file=p.read_csv(r"C:\Users\Tcs\Downloads\Emp.csv")
print(file)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male  08-06-1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996        06:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male  03-04-2005        01:00 PM  138705    9.340
4        Larry    Male   1/24/1998        04:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014        06:09 AM  132483   16.655
996    Phillip    Male   1/31/1984        06:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013        04:45 PM   60500   11.985
999     Albert    Male   5/15/2012        06:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [18]:
table=p.DataFrame(file)
print(table)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male  08-06-1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996        06:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male  03-04-2005        01:00 PM  138705    9.340
4        Larry    Male   1/24/1998        04:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014        06:09 AM  132483   16.655
996    Phillip    Male   1/31/1984        06:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013        04:45 PM   60500   11.985
999     Albert    Male   5/15/2012        06:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [19]:
print(table.columns)

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [20]:
print(table.shape)

(1000, 8)

In [21]:
print(table['Salary'])

0       97308
1       61933
2      130590
3      138705
4      101004
        ...
995    132483
996     42392
997     96914
998     60500
999    129949
Name: Salary, Length: 1000, dtype: int64

In [22]:
print(table[1:4])

  First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
1     Thomas    Male   3/31/1996        06:53 AM   61933    4.170
2      Maria  Female   4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male  03-04-2005        01:00 PM  138705    9.340

  Senior Management     Team
1              True      NaN
2             False  Finance
3              True  Finance

In [23]:
print(table.loc[2])

First Name               Maria
Gender                  Female
Start Date           4/23/1993
Last Login Time       11:17 AM
Salary                  130590
Bonus %                 11.858
Senior Management        False
Team                   Finance
Name: 2, dtype: object

In [24]:
print(table.loc[table['First Name']=='Tamil'])

  First Name Gender Start Date Last Login Time  Salary  Bonus %  \
5      Tamil   Male  4/18/1987        01:35 AM  115163   10.125

  Senior Management   Team
5             False  Legal

In [26]:
print(table['Salary']/1000)

0       97.308
1       61.933
2      130.590
3      138.705
4      101.004
        ...
995    132.483
996     42.392
997     96.914
998     60.500
999    129.949
Name: Salary, Length: 1000, dtype: float64